<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户消费记录</title>
    <!-- jQuery -->
    <script th:src="@{/asserts/cus/js/jquery-3.3.1.min.js}"             type="text/javascript"></script>
    <!-- 引入Bootstrap样式 -->
    <link rel="stylesheet" th:href="@{/asserts/cus/css/bootstrap.min.css}">
    <!-- 引入Bootstrap-table样式 -->
    <script th:src="@{/asserts/cus/js/jquery.dataTables.min.js}"        type="text/javascript"></script>
    <script th:src="@{/asserts/cus/js/jquery.dataTables.bootstrap.js}"  type="text/javascript"></script>


    <link rel="stylesheet" th:href="@{/asserts/cus/css/bootstrap-table.min.css}">
    <!-- bootstrap 中文js -->
    <script th:src="@{/asserts/cus/js/bootstrap-table-zh-CN.min.js}"></script>
    <!-- BS-table -->
    <script th:src="@{/asserts/cus/js/bootstrap-table.min.js}"></script>

</head>
<body>
<div>
    <input class="search_name" style="margin: 0 20px;" placeholder="请输入想要查找的用户名" />
    <input class="search_courseid" style="margin-right:20px;" placeholder="请输入想要查找的课程ID" />
    <button type="button" class="btn btn-default btn-sm" style="margin-right: 20px;" onclick="search()">查询</button>
    <button type="button" class="btn btn-success btn-sm" onclick="add()">添加</button>
</div>
<!-- data-search="true" 添加搜索框 ，将搜索框放在左边，并且在按下enter键后搜索-->
<table data-toggle="table" data-toolbar="#toolbar" data-query-params="queryParams" data-pagination="true">
    <thead>
    <tr>
        <th data-checkbox="true"></th>
        <th data-field="id" data-sortable="true">订单编号</th>
        <th data-field="userid" data-sortable="true">用户编号</th>

        <th data-field="courseid" data-sortable="true">课程编号</th>
        <th data-field="time">消费时间</th>
        <th data-field="money">花费金额</th>
        <th data-field="optional">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${customers}">
        <td data-checkbox="true"></td>
        <td th:text="${c.id}">订单编号</td>
        <td th:text="${c.userid}">用户编号</td>
        <td th:text="${c.courseid}">课程编号</td>
        <td th:text="${c.time}">消费时间</td>
        <td th:text="${c.money}">花费金额</td>
        <td>
            <button type="button" class="btn btn-primary btn-sm" onclick="updateRow(this)">修改</button>
            <button type="button" class="btn btn-danger btn-sm" onclick="deleteRow(this)">删除</button>
        </td>
    </tr>
    </tbody>
</table>

<script>
    function updateRow(obj) {
        var row = $(obj).closest("tr");
        var value = row.find("td:eq(1)").text();
        alert(value);
    }

    function deleteRow(obj) {
        var row = $(obj).closest("tr");
        var value = row.find("td:eq(1)").text();
        alert(value);
    }

    function search() {
        var name = $(".search_name").val();
        var courseid = $(".search_courseid").val();
        alert(name + ":" + courseid);
    }

    function add() {
        alert("添加用户");
    }

    function queryParams() {
        return {
            type : 'owner',
            sort : 'updated',
            direction : 'desc',
            per_page : 3,
            page : 1
        };
    }
</script>
</body>
</html>