<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户列表</title>
    <!-- jQuery -->
    <script th:src="@{/asserts/cus/js/jquery-3.3.1.min.js}"             type="text/javascript"></script>
    <!-- 引入Bootstrap样式 -->
    <link rel="stylesheet" th:href="@{/asserts/cus/css/bootstrap.min.css}">
    <!-- 引入Bootstrap-table样式 -->
    <script th:src="@{/asserts/cus/js/jquery.dataTables.min.js}"        type="text/javascript"></script>
    <script th:src="@{/asserts/cus/js/jquery.dataTables.bootstrap.js}"  type="text/javascript"></script>

    <link rel="stylesheet" th:href="@{/asserts/cus/css/sweetalert.css}">
    <link rel="stylesheet" th:href="@{/asserts/cus/css/bootstrap-table.min.css}">
    <!-- BS-table -->
    <script th:src="@{/asserts/cus/js/bootstrap-table.min.js}"></script>

    <!-- 引入弹框-->
    <script th:src="@{/asserts/cus/js/sweetalert.min.js}"  	type="text/javascript"></script>
    <script th:src="@{/asserts/cus/js/sweetalert-dev.js}"  	type="text/javascript"></script>
</head>
<style>
    .data_table th > div {
        text-align: center;
    }
</style>
<body>

<!-- 搜索框 -->
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">用户列表</a>
                </div>
                <form class="navbar-form navbar-left" role="search" th:action="@{/myAdmin/user_list(birthday=${birthday},gender=${gender})}" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control search_name" id="search_birthday" placeholder="搜索用户生日" name="birthday" th:value="${birthday}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control search_courseid" id="search_gender" placeholder="搜索性别" name="gender" th:value="${gender}">
                    </div>
                    <button type="submit" class="btn btn-success btn-search">搜索</button>
                    <button type="button" class="btn btn-info btn-add" onclick="add()">添加顾客</button>
                </form>
            </div>
        </nav>
    </div>
</div>
<!-- data-search="true" 添加搜索框 ，将搜索框放在左边，并且在按下enter键后搜索-->
<div style="text-align: center">
    <table class="data_table" data-toggle="table" data-toolbar="#toolbar" style="margin: auto;">
        <thead>
        <tr>
            <th data-checkbox="true"></th>
            <th data-field="id" data-sortable="true">用户ID</th>
            <th data-field="userid" data-sortable="true">用户名</th>

            <th data-field="courseid" data-sortable="true">性别</th>
            <th data-field="time" style="text-align: center">出生日期</th>
            <th data-field="optional" style="text-align: center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c,status : ${page.getRecords()}">
            <td data-checkbox="true"></td>
            <td th:text="${c.id}">用户ID</td>
            <td th:text="${c.username}">用户名</td>
            <td th:text="${c.gender}">性别</td>
            <td th:text="${c.birthday}">出生日期</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm" onclick="updateRow(this)">修改</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="deleteRow(this)">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-12">
        <center>
            <ul class="pagination">
                <li th:if="${page.current != 1}">
                    <a href="javascript:void(0)" th:onclick="go(1,[[${birthday}]],[[${gender}]])">首页</a>
                </li>
                <li th:if="${page.current != 1}">
                    <a href="javascript:void(0)" th:onclick="go([[${page.current-1}]],[[${birthday}]],[[${gender}]])">上一页</a>
                </li>
                <li><a href="#">[[${page.current}]] / [[${page.pages}]]</a></li>
                <li th:if="${page.current != page.pages}">
                    <a href="javascript:void(0)" th:onclick="go([[${page.current+1}]],[[${birthday}]],[[${gender}]])">下一页</a>
                </li>
                <li th:if="${page.current != page.pages}">
                    <a href="javascript:void(0)" th:onclick="go([[${page.pages}]],[[${birthday}]],[[${gender}]])">尾页</a>
                </li>
            </ul>
        </center>
    </div>
</div>
<script>
    function updateRow(obj) {
        var row = $(obj).closest("tr");
        var value = row.find("td:eq(1)").text();
        window.location.href = "/crm/myAdmin/to_user_update?id="+ value;
    }

    //删除用户
    function deleteRow(obj) {
        var row = $(obj).closest("tr");
        var value = row.find("td:eq(1)").text();
        swal({
                title: "您确定要删除吗？",
                text: "您确定要删除这条数据？",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor:"#DD6B55",
                confirmButtonText:"确定删除！",
                cancelButtonText:"取消",
                closeOnConfirm:false,
                closeOnCancel:false
            },
            function(isConfirm)
            {
                if(isConfirm)
                {
                    swal({title:"操作成功！",
                        text:"您已经成功删除了这条数据。",
                        type:"success"},function(){window.location="/crm/myAdmin/del_user?id="+value})
                }
                else{
                    swal({title:"已取消",
                        text:"您取消了删除操作！",
                        type:"error"})
                }

            }
        );

    }

    //添加用户
    function add() {
        window.location.href = "/crm/myAdmin/to_user_add";
    }

    //分页 + 查找
    function go(pageNow, birthday,gender) {
        var nextPage = "/crm/myAdmin/user_list?pageNow=" + pageNow;
        if (birthday != null) {
            nextPage += "&birthday=" + birthday;
        }
        if(gender != null) {
            nextPage += "&gender" + gender;
        }
        window.location = nextPage;
    }
</script>
</body>
</html>