<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="gallary">
    <div class="row about">
        <div class="col-md-8">
            <h3 class="m_2">Gallery</h3>
            <div id="ca-container" class="ca-container">
                <div class="ca-wrapper">
                    <div class="ca-item ca-item-1">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <div class="ca-icon1"></div>
                        </div>
                    </div>
                    <div class="ca-item ca-item-2">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <div class="ca-icon2"></div>
                        </div>
                    </div>
                    <div class="ca-item ca-item-3">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <div class="ca-icon3"></div>
                        </div>
                    </div>
                    <div class="ca-item ca-item-4">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <div class="ca-icon4"></div>
                        </div>
                    </div>
                    <div class="ca-item ca-item-5">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <div class="ca-icon5"></div>
                        </div>
                    </div>
                    <div class="ca-item ca-item-6">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <div class="ca-icon6"></div>
                        </div>
                    </div>
                    <div class="ca-item ca-item-7">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <div class="ca-icon7"></div>
                        </div>
                    </div>
                    <div class="ca-item ca-item-8">
                        <div class="ca-item-main">
                            <div class="ca-icon"></div>
                            <div class="ca-icon"></div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $('#ca-container').contentcarousel();
            </script>
        </div>
        <div class="col-md-4">
            <h3 class="m_2">Partner</h3>
            <ul class="partner">
                <li><img th:src="@{/asserts/zqg/images/p6.png}" alt=""/></li>
                <li><img th:src="@{/asserts/zqg/images/p5.png}" alt=""/></li>
                <li><img th:src="@{/asserts/zqg/images/p4.png}" alt=""/></li>
                <li><img th:src="@{/asserts/zqg/images/p3.png}" alt=""/></li>
                <li><img th:src="@{/asserts/zqg/images/p2.png}" alt=""/></li>
                <li><img th:src="@{/asserts/zqg/images/p1.png}" alt=""/></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>